
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

p {
  font-size: 14px;
}


/* Modifier la forme des bullets en rectangles */
.swiper-pagination-bullet {
  width: 25px !important;
  height: 5px !important;
  border-radius: 3px !important;
  background-color: #fffffff4 !important;
  border-radius: 0 !important;
  transition: all 0.3s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  width: 30px !important;
  background-color: #fe4240 !important;
}

.navButton.active{
  color: #fe4240 !important;
}

.logoName {
  margin-top: 10px;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
  font-family: sans-serif !important;
}

.MuiList-root {
  padding: 0px !important;
  width: 100vw !important;
}

h2 {
  border-left: 5px solid #fe4240;
  padding: 5px 10px; 
  margin-left: 60px;
}

#socialName {
  margin: 0px 10px 0px 5px;
  display: none;
}